<div #clicked class="page-wrapped">
    <header class="bar-top">
        <img src="assets/Logo_Epam_White.svg" class="bar-logo" alt="">
        <span class="separator">|</span>
        <span class="project-logo">
            PIP-BOX
        </span>
        <span (click)="onClick()">
            <i class="glyphicon" [ngClass]="{'glyphicon': !isExpand, 'glyphicon-menu-down': !isExpand}"></i>
            <a routerLink="/home" (click)="clicked.step='home'" class="glyphicon" [class.glyphicon-menu-up]="isExpand"></a>
        </span>
        <span class="bar-name">Pavel</span>
        <img class="bar-photo" src="" />
        <span class="bar-settings" onclick=""></span>
    </header>
    <div  class="admin-tool" *ngIf="isExpand==true">
        <div class="admin-item">
            <a routerLink="/users" (click)="clicked.step='user'" >USERS</a>
            <div class="link" [ngClass]="{'active': clicked.step==='user'}"></div>
        </div>
        <div class="admin-item" >
            <a routerLink="/location" (click)="clicked.step='location'">LOCATION/DEPARTMENTS</a>
            <div class="link" [ngClass]="{'active': clicked.step==='location'}"></div>
        </div>
        <div class="admin-item">
            <a routerLink="/candiates" (click)="clicked.step='candidates'">CANDIDATE LIST</a>
            <div class="link" [ngClass]="{'active': clicked.step==='candidates'}"></div>
        </div>
        <div class="admin-item">
            <a routerLink="/feedback" (click)="clicked.step='feedback'">FEEDBACK TEMPLATES</a>
            <div class="link" [ngClass]="{'active': clicked.step==='feedback'}"></div>
        </div>
    </div>
    <!-- <div style="height:150px; background-color: red"></div> -->
</div>